*, *::after, *::before {
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #F0A85A;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.2);
  color: #3d3d3d;
  font-size: 14px;
  padding: 5px 25px;
}

.button1 {
  position: relative;
  left: 50%;

}

.button2 {
  position: relative;
  left: 50%;

}

.modal {
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #AEACA9;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);

}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.modal-header .title {
  color: #3d3d3d;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  color: #3d3d3d;
  padding: 10px 15px;

}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}